.contenedor {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    min-height: 70rem;
    background-image: url(/ruido.png);
    padding-top: 2rem;
    border-bottom: 4px dashed var(--color--primario);
    position: relative;
}


.lista {
    display: flex;
    flex-direction: row;
    width: auto;
    margin: auto;
    background-color: none;
    border-radius: 10px;
}

.opci贸n {
    display: flex;
    justify-content: space-between;
    width: auto;
    padding: 1rem;
    font-size: clamp(1rem, 1.5vw, 10rem);
    font-family: "roboto", Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    background-color: var(--color--primario);
    border: none;
    border-radius: 3px;
    margin: 0 0.5rem;
    cursor: pointer;
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.477);
    transition: 0.3s;
    text-align: left;
    color: #000000cb;
    font-weight: 600;
}

.opci贸n:hover {
    font-size: clamp(1rem, 1.5vw, 10rem);
    background-color: var(--fondo--secundario);
    color: var(--fondo--primario)
}

.opci贸n:active {
    padding: 1rem;
    background-color: var(--fondo--secundario);
    max-width: 80vw;
    color: var(--fondo--primario)
}

.tarjeta {
    border: 1px solid black;
    width: 30rem;
    height: 40rem;
    margin: 2rem auto;
    background-color: var(--fondo--primario);
    padding: 1rem;
    border-radius: 3px;
    border: none;
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.477);
    overflow: hidden;
    transition: 0.1s;
    cursor: pointer;
}

.tarjeta:hover {
    border: 5px solid var(--color--primario);
}

.imagen {
    background-color: var(--color--primario);
    width: 100%;
    height: 30rem;
    object-fit: cover;
    border-radius: 5px;
    box-shadow: 0px 2px 5px #0000004e;
}

.titulo {
    text-align: center;
    margin-top: 2rem;
    font-size: 2rem;
    font-family: "roboto", Arial, Helvetica, sans-serif;
    text-transform: uppercase;
}

.contenedorTarjeta {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 0 10vw 0 10vw;
}


.carta {
    font-size: 5rem;
    font-family: "Rubik Dirt", arial, Arial, Helvetica, sans-serif;
    display: flex;
    width: 100%;
    justify-content: center;
    margin-bottom: 1rem;
    text-transform: uppercase;
    color: var(--color--primario);
    font-weight: 400;
    text-shadow: 2px 2px 2px black;
    cursor: default;
}

.carrito {
    display: flex;
    position: absolute;
    top: 2rem;
    left: 2vw;
    width: 9rem;
    margin: auto;
    height: 3.7rem;
    align-items: center;
    justify-content: center;
    background-color: var(--color--primario);
    border: none;
    border-radius: 3px;
    transition: 0.2s;
    box-shadow: 1px 3px 4px rgba(0, 0, 0, 0.404);
    cursor: pointer;
    z-index: 4;
}

.carrito:hover {
    background-color: var(--color--secundario);

}

.carrito:active {
    width: 9rem;
}

.carritoImagen {
    width: auto;
    height: 100%;
}

.contenedorLista {
    display: flex;
    position: absolute;
    top: 5rem;
    left: 2vw;
    flex-direction: column;
    margin: 2rem auto;
    width: auto;
    background-color: var(--fondo--secundario);
    border-radius: 5px;
    background-image: url(/ruido.png);
    transition: 0.5s;
    z-index: 1;
    box-shadow: 1px 3px 4px rgba(0, 0, 0, 0.404);
}

.notificaci贸n {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
    color: var(--fondo--primario);
    background-color: var(--color--primario);
    padding: 0.3rem;
    width: 4rem;
    border-radius: 5px;
}

.seleccionado {
    display: flex;
    width: 100%;
    border-radius: 10px;
    margin: auto;
}

.seleccionado li {
    display: flex;
    margin: auto;
    font-size: clamp(2rem, 1vw, 5rem);
    font-family: "roboto", Arial, Helvetica, sans-serif;
    color: var(--color--primario);
    text-shadow: 1px 1px 1px black;
    font-weight: 600;
    text-align: center;
    padding: 1rem;
    width: auto;
    letter-spacing: 2px;
    text-transform: uppercase;
    cursor: pointer;
}

.seleccionado li:hover {
    color: var(--color--secundario);
    text-transform: uppercase;
    cursor: pointer;
    text-decoration: line-through;
}

.confirmar {
    background-color: var(--color--primario);
    height: 4rem;
    border: none;
    color: var(--fondo--primario);
    font-family: "roboto", Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    font-size: clamp(2rem, 1vw, 5rem);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    cursor: pointer;
    transition: 0.2s
}

.confirmar:hover {
    background-color: #ffb453;
    color: var(--fondo--primario);
}

.incluido {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    margin: 1rem auto;
    border: none;
    border-radius: 3px;
    font-size: 1.5rem;
    background-color: var(--color--primario);
    color: var(--fondo--primario);
}

.modal {
    position: fixed;
    align-items: center;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--fondo--primario);
    padding: 2rem;
    font-size: 3rem;
    text-transform: uppercase;
    font-family: "Roboto", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-radius: 5px;
    border: 5px dashed var(--color--primario);
    box-shadow: 1px 3px 4px rgba(0, 0, 0, 0.404);
    color: var(--color--secundario);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
}