*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
  --color--primario: #eba13d;
  --color--secundario: #235c47;
  --fondo--primario: #fffbf6;
  --fondo--secundario: #b42638;
}

body {
  background-color: var(--color--secundario);
  overflow-x: hidden;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  background-color: var(--color--secundario);
  width: 0.5rem;
}

::-webkit-scrollbar-thumb {
  background-color: var(--fondo--secundario);
  border-radius: 100px;
}

::selection {
  background-color: var(--fondo--secundario);
  color: var(--fondo--primario);
}