/*Quitando cosas que deberían existir en pleno 2025*/
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/*paleta de colores y normalización de rem*/
:root {
  font-size: 62.5%;
  --color--primario: #eba13d;
  --color--secundario: #0f6344;
  --fondo--primario: #fffbf6;
  --fondo--secundario: #b42638;
}


body {
  background-color: var(--color--secundario);
  overflow-x: hidden;
  scroll-behavior: smooth;
}

/*Personalizando barra de scroll*/
::-webkit-scrollbar {
  background-color: black;
  width: 0.5rem;
}

::-webkit-scrollbar-thumb {
  background-color: var(--fondo--secundario);
  border-radius: 100px;
}

::selection {
  background-color: var(--fondo--secundario);
  color: var(--fondo--primario);
}